launch>
        <param name="robot_description" command="cat $(find gazebo_pkg)/models/robot_test/my_robot.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="state_publisher" pkg="gazebo_pkg" type="state_publisher" />
</launch>
